[Unit]
Description=Run __APP__
After=network.target

[Service]
Type=oneshot
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__
ExecStart=__INSTALL_DIR__/yunomonitor.py -c __INSTALL_DIR__/conf/__APP__.yml 
User=root
Group=root

[Install]
WantedBy=multi-user.target
