[Unit]
Description=Run __APP__
After=network.target

[Service]
Type=oneshot
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
ExecStart=__FINALPATH__/venv/bin/python -- yunomonitor.py -c __FINALPATH__/conf/__APP__.yml 

[Install]
WantedBy=multi-user.target
