[Unit]
Description=Run __APP__
After=network.target

[Service]
Type=oneshot
WorkingDirectory=__FINALPATH__
ExecStart=__FINALPATH__/yunomonitor.py -c __FINALPATH__/conf/__APP__.yml 
User=root
Group=root

[Install]
WantedBy=multi-user.target
